h2,label{
    font-weight: 900;
    color: blue;
    font-family: '나눔고딕';
}

#info{
    color: aquamarine;
}

.container{
    margin: 0 auto;
    background-color: beige;
}

body{
    background-color: skyblue;
}

/* box-sizing : content-box, border-box; */